.btn {
  border: none;
  padding: 15px 25px;
  background-color: #000000;
  color: #ffffff;
  font-family: inherit;
  font-size: 14px;
  margin-bottom: 30px;
}

.btn:hover {
  background-color: #ccc;
  color: #000000;
}

.btn_prev {
  cursor: not-allowed;
  opacity: 0.3;
}
